.sign-in{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.sign-logo{
    width:20%;
    display: flex;
    flex-direction: row;
    height:80px;
    justify-content: center;
    align-items: center;
}


.sign-logo > img{
    width:35%;
    display: flex;
    flex-direction: row;
    /* padding-top:30px; */
    padding:0px  10px;
    /* padding-left: 80px; */
}

.signin{
    display: flex;
    flex-direction: column;
    width:40%;
    /* justify-content: center; */
    /* align-items: center; */
    margin:auto;
    /* background-color: aqua; */
    
}

.signin-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sign-text{
    font-family: 'Montserrat', sans-serif;
    padding-left:10%;
    margin-bottom: 30px;
    /* margin-right:300px; */
    /* margin-bottom: 15px; */
    /* display: flex; */
    /* float: left; */
}

.label-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom:4px;
    padding-left: 10%;
}

form{
    width:100%;
    /* text-align: center; */
}

.form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input{
    margin:0px calc(20%/2);
    width:80%;
    height:40px;
    border-radius: 25px;
    border:none;
    background-color: grey;
}

.next-btn{
    font-family: 'Montserrat', sans-serif;
    width:80%;
    margin:0px calc(20%/2);
    height:40px;
    line-height: 40px;
    border-radius: 25px;
    border:none;
    color:white;
    background-color: black;
    margin:20px 0px;
    text-align: center;
    text-decoration: none;
}

.password{
    width:80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin:0px calc(20%/2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 30px;
    /* background-color: aqua; */
}

.password > div{
    display: flex;
    justify-content: center;
    width:1px;
    height:20px;
    background-color:black;
    margin:0 10px;
}

.linebreak{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.lines{
    width:80%;
    display: flex;
    margin:0px calc(20%/2);
    justify-content: center;
    align-items: center;
    padding-bottom:10px;
    /* background-color: aqua; */
    /* flex-direction: row; */
    /* width:100%; */
    
    /* height:1px; */
    /* background-color:red; */
    /* margin:0 10px; */
}

.lines > hr{
    width:130px;
    height:1px;
}

/* .lines */

.lines >p{
    padding:0 10px;
    font-family: 'Montserrat', sans-serif;
}


.create-account{
    font-size: 15px;
    display: inline-block;
    line-height:40px;
    width:80%;
    margin:0px calc(20%/2);
    text-align: center;
    text-decoration: none;
    height:40px;
    border-radius: 25px;
    border:2px solid black;
    color: black;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    /* background-color: grey; */
    
}

.create-account:hover{
    background-color: black;
    color:white;
    /* border:2px grey; */
}

@media screen and (max-width:400px),(max-width:500px) {
    .signin{
        width:90%;
    }

    .sign-logo{
        width:90%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .sign-logo > img{
        width:50%;
    }
}

@media screen and (max-width:1100px), (max-width:1300px) {
    .signin{
        width:70%;
    }

    .sign-logo{
        width:40%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    /* .password > a{
        font-size:17px;
    } */
}

@media screen and (max-width:900px), (max-width:1000px) {
    .signin{
        width:90%;
    }

    .sign-logo{
        width:50%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    /* .password > a{
        font-size:20px;
    } */
}

@media screen and (max-width:300px) {
    

    .sign-logo{
        width:100%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .sign-logo > img{
        width: 40%;
    }

    /* .password > a{
        margin: 0px 10px;
    } */

     /* .password > a{
        font-size:10px;
    } */
}