.Shopbanner{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url('/public/MY_Floormats_banner_web.avif');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}

.shop-banner-info{
    margin-top:250px;
}

.shop-banner-info> h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* margin-top:350px; */
    font-size: 35px;
}

.shop-banner-info> p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.arrow-down{
    margin-top: 20px;
}

.shop-now{
    width:300px;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: black;
    color:white;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

/* .banner.active >h1{
    animation: fadeIn 2s;
  	opacity: 1;
}

@keyframes banner-active {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  } */
  

  @media screen and (max-width:300px), (max-width:400px), (max-width:500px) {
    .shop-banner-info > h1{
        font-size: 25px;
    }

    .shop-banner-info > p{
        font-size: 15px;
    }

    .shop-banner-info > button{
        width:200px;
    }
}