.sign-up{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.signup-logo{
    width:20%;
    display: flex;
    flex-direction: row;
    height:80px;
    justify-content: center;
    align-items: center;
}


.signup-logo > img{
    width:35%;
    display: flex;
    flex-direction: row;
    /* padding-top:30px; */
    padding:0px  10px;
    /* padding-left: 80px; */
}

.signup{
    display: flex;
    flex-direction: column;
    width:40%;
    /* justify-content: center; */
    /* align-items: center; */
    margin:auto;
    /* background-color: aqua; */
    
}

.Signup-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.signup-text{
    font-family: 'Montserrat', sans-serif;
    padding-left:10%;
    margin-bottom: 30px;
}

.label-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    display: block;
    padding-left: 10%;
}

form{
    width:100%;
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > input{
    margin:0px calc(20%/2);
    width:80%;
    height:40px;
    border-radius: 25px;
    border:none;
    background-color: rgba(128, 128, 128, 0.5);
    margin-bottom: 10px;
    padding: 0 20px;
}

.submit-btn{
    font-family: 'Montserrat', sans-serif;
    width:80%;
    height:40px;
    border-radius: 25px;
    border:none;
    color:white;
    background-color: black;
    margin:20px 0px;
    cursor: pointer;
}

.agreement{
    padding:0px 10%;
    font-family:'Montserrat', sans-serif ;
    font-size: 13px;
}

.pass_match{
    display: none;
    color: red;
    font-size: small;
    padding: 5px 0;
    font-weight: 500;
    width:80%;
    margin:0px calc(20%/2);
}

.pass_match.false{
    display: block;
}
.registered{
    display: none;
    color: red;
    font-size: small;
    padding: 5px 0;
    font-weight: 500;
    width:80%;
    margin:0px calc(20%/2);
}

.registered.registered_not{
    display: block;
}


@media screen and (max-width:400px),(max-width:500px) {
    .signup{
        width:90%;
    }

    .signup-logo{
        width:90%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .signup-logo > img{
        width:60%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1100px), (max-width:1300px) {
    .signup{
        width:70%;
    }

    .signup-logo{
        width:40%;
        justify-content: flex-start;
        padding-left: 30px;
        margin: 30px 0px;
    }

    /* .password > a{
        font-size:17px;
    } */
}

@media screen and (max-width:900px), (max-width:1000px) {
    .signup{
        width:90%;
    }

    .signup-logo{
        width:50%;
        justify-content: flex-start;
        padding-left: 30px;
    }

    /* .password > a{
        font-size:20px;
    } */
}

@media screen and (max-width:300px) {
    

    .signup-logo{
        width:100%;
        justify-content: flex-start;
        padding-left: 30px;
        margin:30px 0px;
    }

    .signup-logo > img{
        width:50%;
    }

     /* .password > a{
        font-size:10px;
    } */
}