.cards{
    width:100%;
    /* height:100vh; */
    display: flex;
    flex-direction: row;
    background-color: grey;
    
}

.cards-container{
    width:calc(100%/3);
    /* height:100vh; */
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('/public/Men_web.avif');
    background-size: cover;
    /* border:1px solid grey; */
    /* margin:0px calc(10%/3); */
    /* margin:0px calc(20%/4); */
    
}

.product-images {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.card-text{
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.card-container-content{
    width:80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    position: absolute;
    top:80%;
    left:10%;
    /* background-color: aqua; */
    
}

.cards-container:nth-child(2){
    margin:0px 10px ;
}


.card-container-content > button{
    width:100%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: black;
    color:white;
    font-size: 15px;
    /* margin-top: -90px; */
    cursor: pointer;
    font-size: 14px;
    margin:0px auto;
    font-family: 'Montserrat', sans-serif;
}

.card-container-content >a{
    font-size: 15px;
    display: inline-block;
    line-height:40px;
    width:80%;
    margin:0px calc(20%/2);
    text-align: center;
    text-decoration: none;
    height:40px;
    border-radius: 25px;
    background-color: black;
    /* border:2px solid black; */
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* background-color: grey; */
    
}

@media screen and (max-width:400px),(max-width:500px) {
    .cards{
        width: 100%;
        /* display: flex; */
        flex-direction: column;
    }

    .cards-container{
        
        width:100%;
    }

    .cards-container:nth-child(2){
        margin:10px 0px ;
    }
}