.home-logo {
    /* display: flex; */
    width: 15%;
    justify-content: center;
}

.home-navbar {
    width:100%;
    /* overflow: hidden; */
    /* background-color: #fff; */
    /* height: 80px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    align-items: center;
    padding:25px 20px;
    height:80px;
}

.home-navbar.active{
    background-color: white;
    color:black;
}

.home-site-logo{
    width:50%;
    cursor: pointer;
}

.home-navbar-links{
    width:60%;
    display: flex;
    justify-content: center;
}

.home-navbar-links >ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.home-navbar-links >ul > li{
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    cursor: pointer;
}

.home-navbar-links > ul > li :hover{
    width:25px;
    background-color: white;
    border:1px;
    height:10px;
    /* color:white; */
}

.home-buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    
}

.home-login {
    width: 80px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    /* height: 40px; */
    margin-right: 20px;
    /* background-color: white; */
    font-size:15px;
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: #e2e8f0; */
    /* border-radius: 5px; */
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: none;
    color:black;
    /* text-align: center; */
}

.cart{
    cursor:pointer;
    font-size: 25px;
    margin-right: 25px;
    /* color: black; */
}

.myAccount{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.navbar_smallscreen{
    display:none;  
}

.smallscreen-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
   
    flex-direction:column ;
}

.smallscreen-overlay.active{
    opacity: 1;
    transform: translateX(50%,50%);
    transition:1.5s ease;
}


.overlay-close{
    font-size: 27px;
    color:orange;
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
}

.smallscreen-links{
    list-style-type:none;
    margin:50px;
}

.smallscreen-links li{
    padding:32px;
    cursor: pointer;
    color:white;
    font-size: 24px;
    text-align: center;
    
}

.smallscreen-links li:hover{
    color:white;
}

.smallscreen-links li >a{
    margin-left:10px;
    text-decoration: none;
    color:white;
}

.smallscreen-links li >a:hover{
    color:orange;
}

/* @media screen and (max-width:400px) {
    .navbar_smallscreen{
        display:block;
        cursor: pointer; 
        align-items:center ;
    }

    .navbar-links{
        display: none;
    }
} */

@media screen and (max-width:900px),(max-width:1000px) {
    .home-navbar.active{
        display: none;
    }
    .home-logo{
        width:18%;
    }
    .home-logo > img{
        width:100%;
    }
    .home-navbar-links{
        display: none;
    }

    .home-buttons{
        width:65%;
        justify-content: flex-end;
        margin-left: 30px;
    }
    .myAccount,.home-login{
        font-size: 20px;
        margin-left: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .smallscreen-links{
        font-family: 'Montserrat', sans-serif;
    }
    .smallscreen-links > :nth-child(6){
        display: none;
    }
    .smallscreen-links > :nth-child(7){
        display: none;
    }
    
}

@media screen and (max-width:400px), (max-width:500px) {
    .home-navbar.active{
        display: none;
    }

    .home-logo{
        width:25%;
    }

    .home-logo > img{
        width:100%;
    }

    .home-navbar-links{
        display: none;
    }

    .myAccount,.home-login {
        display: none;
    }

    .home-buttons{
        width:40%;
        justify-content: flex-end;
        margin-left: 30px;
    }
    .smallscreen-links{
        font-family: 'Montserrat', sans-serif;
    }
    .smallscreen-links > :nth-child(6){
        display: block;
    }
    .smallscreen-links > :nth-child(7){
        display: block;
    }
}
