
.logo {
    display: flex;
    flex-direction: row;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.divide{
    width:1px;
    height:30px;
    background-color: white;
    margin:0px 15px;
}

.divide.active{
    background-color: black;
}

.shop{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.shop.active{
    color:black;
}

.navbar {
    width:100%;
    /* overflow: hidden; */
    /* background-color: #fff; */
    /* height: 80px; */
    display: flex;
    position:fixed;
    z-index:3000;
    /* flex-direction: row; */
    justify-content: space-between;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    align-items: center;
    padding:0px 20px;
    height:80px;
}

.navbar.active{
    background-color: white;
    color:black;
}

.site-logo{
    width:50%;
    cursor: pointer;
}

.site-logo2{
    width:50%;
    cursor: pointer;
    display: none;
}


.site-logo2.active{
    width:50%;
    display: block;
}

.site-logo.active{
    content:'url(public/tesla-logo-png-201.png)';
}

.shopnavbar-links{
    width:60%;
    display: flex;
    justify-content: center;
}

.shopnavbar-links >ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.shopnavbar-links >ul > li{
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    color:white;
    cursor: pointer;
}

.shopnavbar-links.active >ul > li{
    color:black;
}

.shopnavbar-links > ul > li :hover{
    width:25px;
    background-color: white;
    border:1px;
    height:10px;
    /* color:white; */
}

.buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.shoplogin {
    width: 80px;
    color: white;
    /* height: 40px; */
    margin-right: 20px;
    /* background-color: white; */
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: #e2e8f0; */
    /* border-radius: 5px; */
    /* font-family: sans-serif; */
    cursor: pointer;
    text-decoration: none;
    /* color:black; */
    /* text-align: center; */
}

.shoplogin.active{
    color: black;
}

.shop-cart{
    color: white;
    cursor:pointer;
    font-size: 25px;
    margin-right: 25px;
    /* color: black; */
}

.shop-cart.active{
    color: black;
}

.account{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
