
.logo {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.divide{
    width:1px;
    height:30px;
    background-color: white;
    margin:0px 15px;
}

.divide.active{
    background-color: black;
}

.shop{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.shop.active{
    color:black;
    /* display: none; */
}

/* rgb(135, 135, 135) */

.navbar {
    width:100%;
    /* overflow: hidden; */
    background-color:  black;  
    height: 80px;
    display: flex;
    position:fixed;
    top: 0;
    z-index:3000;
    /* flex-direction: row; */
    justify-content: space-between;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    align-items: center;
    padding:0px 20px;
    height:80px;
}

.navbar.active{
    background-color: white;
    color:black;
}

.site-logo{
    width:30%;
    cursor: pointer;
}

.site-logo2{
    width:30%;
    cursor: pointer;
    display: none;
}


.site-logo2.active{
    width:30%;
    display: block;
}

.site-logo.active{
    content:'url(public/tesla-logo-png-201.png)';
}

.shopnavbar-links{
    width:50%;
    display: flex;
    justify-content: center;
}

.shopnavbar-links >ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.shopnavbar-links >ul > li{
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    color:white;
    cursor: pointer;
}

.shopnavbar-links.active >ul > li{
    color:black;
}

.shopnavbar-links > ul > li :hover{
    width:25px;
    background-color: white;
    border:1px;
    height:10px;
    /* color:white; */
}

.buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.shoplogin {
    width: 80px;
    color: white;
    /* height: 40px; */
    margin-right: 20px;
    /* background-color: white; */
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: #e2e8f0; */
    /* border-radius: 5px; */
    /* font-family: sans-serif; */
    cursor: pointer;
    text-decoration: none;
    /* color:black; */
    /* text-align: center; */
}

.shoplogin.active{
    color: black;
}

.shop-cart{
    color: white;
    cursor:pointer;
    font-size: 25px;
    margin-right: 25px;
    /* color: black; */
}

.shop-cart.active{
    color: black;
}

.account{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* small screen */
.navbar_smallscreen{
    display:none;  
}

.smallscreen-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
   
    flex-direction:column ;
}

.smallscreen-overlay.active{
    opacity: 1;
    transform: translateX(50%,50%);
    transition:1.5s ease;
}


.overlay-close{
    font-size: 27px;
    color:orange;
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
}

.smallscreen-links{
    list-style-type:none;
    margin:50px;
}

.smallscreen-links li{
    padding:32px;
    cursor: pointer;
    color:white;
    font-size: 24px;
    text-align: center;
    
}

.smallscreen-links li:hover{
    color:white;
}

.smallscreen-links li >a{
    margin-left:10px;
    text-decoration: none;
    color:white;
}

.smallscreen-links li >a:hover{
    color:orange;
}

@media screen and (max-width:1150px) {
    .shopnavbar-links{
        display:none;
    }

    .navbar_smallscreen{
        display:flex;
    }

    .navbar.active{
        display: none;
        
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 500px;
    }
}

@media screen and (max-width:600px) {
    .navbar_smallscreen{
        display: block;
        cursor: pointer; 
        align-items:center ;
    }

    /* .navbar_logo >h1{
        padding-left: 7px;
        font-size:20px;
    } */

    /* .navbar{
        position: fixed;
    } */
    
}

@media screen and (max-width:414px){

    .navbar{
        overflow-x: hidden;
        position: fixed;
    }
    
    .navbar.active{
        display: none;
        
    }

    .navbar_login > a {
        padding: 0 4px;
        font-size: 12px;
    }

    .navbar_logo > h1 {
        width: 100px;
        font-size: 15px;
        padding-left: 5px;
    }

    /* .navbar.active{
        display: none;
        
    } */

    /* .navbar.active{
        display: none;
        
    } */

    



    /* .shopnavbar-links{
        display: none;
        
    } */

    .navbar_smallscreen{
        display:block;
        cursor: pointer; 
        align-items:center ;
    }
}

@media screen and (max-width:400px) {

    .navbar{
        width:100%;
        padding: 0px;
    }

    .logo{
        width:30%;
    }
    .site-logo{
        width:100%;
        padding-left: 40px;
    }

    .navbar_smallscreen{
        display:block;
        cursor: pointer; 
        align-items:center ;
    }
}
