.navbar {
    width:100%;
    height: 80px;
    display: flex;
    position:fixed;
    background-color:  transparent;
    color: black;
    top: 0;
    z-index:3000;
    align-items: center;
    padding:0px 20px;
    height:80px;
}

.navbar.active{
    background-color: black;
    color:white;
}
.navbar > .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.navbar > .bottom{
    display: flex;
    align-items: center;
    width: 70%;
}
.navbar > .top > .logo{
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar > .top > .hamburger-menu{
    width:30%;
    display: none;
}
.navbar > .top > .hamburger-menu > .hamburger,
.navbar > .top > .hamburger-menu > .close{
    color: #000;
}
.navbar.active > .top > .hamburger-menu > .hamburger,
.navbar.active > .top > .hamburger-menu > .close{
    color: #fff;
}
.navbar > .top > .logo > .site-logo{
    width:50%;
    cursor: pointer;
    display: block;
}
.navbar > .top > .logo > .site-logo2{
    width:50%;
    cursor: pointer;
    display: none;
}
.navbar.active  > .top > .logo > .site-logo{
    display: none;
}

.navbar.active > .top > .logo > .site-logo2{
    display: block;
}

.navbar > .top > .logo > .divide{
    width:2px;
    height:30px;
    background-color: #000;
    margin:0px 15px;
}

.navbar.active > .top > .logo > .divide.active{
    background-color: #fff;
}

.navbar > .top > .logo > .shop{
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.navbar.active > .top > .logo >  .shop.active{
    color: white;
}

.navbar > .bottom > .shopnavbar-links{
    display: flex;
    justify-content: center;
    margin-right: auto;
}

.navbar > .bottom > .shopnavbar-links > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar > .bottom > .shopnavbar-links > ul > a {
    text-decoration: none;
}
.navbar > .bottom > .shopnavbar-links > ul > a > li{
    font-family: 'Montserrat', sans-serif;
    margin-right:20px;
    color: black;
    cursor: pointer;
}

.navbar.active > .bottom > .shopnavbar-links.active > ul > a  > li{
    color: white;
}

.navbar > .bottom > .shopnavbar-links > ul > a > li :hover{
    width:25px;
    background-color: white;
    border:1px;
    height:10px;
}

.navbar > .bottom > .buttons {
    width: 25%;
    display: flex;
    align-items: center; 
}

.navbar > .bottom > .buttons > .shoplogin {
    width: 80px;
    color: #000;
    margin-right: 20px;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.navbar > .bottom > .buttons >  .shoplogin.active{
    color: #fff;
}

.navbar > .bottom > .buttons > .cart >  .shop-cart{
    color: black;
    cursor:pointer;
    font-size: 40px;
}

.navbar > .bottom > .buttons > .cart >  .shop-cart.active{
    color: #fff;
}

.account{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navbar > .bottom > .buttons >  .cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    width: 80px;
    height: 80px;
}
.navbar > .bottom > .buttons > .cart p{
    display: none;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
    right: 10px;
}
.navbar.active > .bottom > .buttons .cart p{
    background-color: white;
    color: black;
}
.navbar > .bottom > .buttons .cart.active{
    text-decoration: none;
    color: #000;
}
.navbar > .bottom > .buttons .cart.active p{
    display: flex;
}

@media screen and (max-width:900px) {
    .navbar{
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    .navbar.show{
        background-color:  rgb(233, 229, 229);
    }
    .navbar.active.show {
        background-color: #000;
    }
    .navbar > .top{
        padding: 0 30px;
        width: 100%;
        height: 80px;
        border-bottom: 2px solid white;
    }
    .navbar > .bottom{
        display: none;
        width: 100%;
        color: #000;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 50px;
    }
    .navbar.show > .bottom{
        display: flex;
    }
    .navbar > .top > .hamburger-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar > .top > .hamburger-menu > .close{
        display: none;
    }
    .navbar.show > .top > .hamburger-menu > .hamburger{
        display: none;
    }
    .navbar.show > .top > .hamburger-menu > .close {
        display: block;
    }
    .navbar > .top > .logo {
        width: 50%;
    }
    .navbar > .bottom > .shopnavbar-links {
        margin-right: 0;
        width: 100%;
    }
    .navbar > .bottom > .shopnavbar-links > ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .navbar > .bottom > .shopnavbar-links > ul > a > li {
        margin-right: 0;
        padding: 20px;
    }
    .navbar > .bottom > .buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .navbar > .bottom > .buttons > a ,
    .navbar > .bottom > .buttons > p{
        padding: 20px;
        cursor: pointer;
    }
}
