*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.fourthbanner{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/Homepage-Model-X-Desktop-LHD.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    /* background-color: blueviolet; */
}

.fourthbanner> h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top:40px;
    font-size: 40px;
}

.fourthbanner> a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:black;
}