.Banner{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/M3-Homepage-Desktop-LHD.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding-bottom: 150px;
}
.banner-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.banner-info> h1{
    font-family: 'Montserrat', sans-serif;
    color:black;
    margin-top:60px;
    font-size: 40px;
}

.banner-info > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:black;
    margin-bottom: auto;
}

.arrow-down{
    margin-top: 20px;
}

@media screen and (max-width:1100px) {
    .Banner{
        padding-bottom: 100px;
        width:100%;
        height:auto;
        background-size:100% 100%;
        background-position: center;
    }
    .banner-info{
        height: 100%;
        min-height: 500px;
        height:auto;
    }
}
@media screen and (max-width:600px) {
    .Banner{
        padding-bottom: 50px;
    }
}